/**
    Style Global
 */
a{
    color:#000;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
ul,li {
    list-style-type:none;
}
img{
    max-width:100%;
}
html,body{
    font-size:1rem;
    font-family: "Arial";
    margin:0.4rem;
    background-color: #E8E8E8;
}
figcaption{
    font-style: italic;
}
.error-message {
    color:#d81a1a;
}
main section,
main aside{
    margin: 0 0 3vh 0;
}
main aside > article > footer > ul{
    display:flex;
    overflow-x: scroll;
}
main aside > article > footer > ul > li{
    margin:0 2vh 0 0;
}
main > aside > article > header > h1 {
    padding:0 0 1vh 0;
    text-transform: uppercase;
}
main {
    max-width: 78vw;
    margin: 0 auto;
    overflow: hidden;
}
figure{
    text-align: center;
}
ul,li,figure,figcaption,h1{
    margin:0;
    padding:0;
}
header nav {
    font-size: 14px;
    width: 100%;
    overflow: hidden;
}
header nav, header nav ul {
    list-style-type: none;
    background-color:#5a5858;
    margin: 0;
    padding: 0;
}
header nav ul{
    padding:0 1.5rem 0 0.8rem;
}
header nav li {
    float: left;
    padding: 0.2rem 0 0.2rem 0;
}
header nav li a {
    display: block;
    padding: 10px 15px;
    color: #FFF;
    text-decoration: none;
    border-right: 1px solid #FFF;
}
header nav li a:hover {
    background-color: #6b6767!important;
}
header nav li ul li {
    float: none;
}
header nav > ul > li:last-child{
    float: right;
}
header nav > ul > li:last-child a {
    border: none;
    display: inline-block;
}
header nav li:last-child span {
    color: #fff;
}

header nav li ul li a {
    border-top: 1px solid #FFF;
}
header nav li ul {
    display: none;
    position: absolute;
}
header nav li:hover ul {
    display: block;
}
main {
    min-height: 38rem;
    padding:2rem 1.3rem 0 1.3rem;
}
footer {
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.5rem;
    background-color: #5a5858;
}
/**
 * Admin Global
 */
.admin main {
    max-width: 100%;
}
.admin a,
.admin button{
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    line-height: 1.1rem;
    border-radius: 0.5rem;
    background: transparent;
    padding: 0.25rem 0.6rem 0.3rem 0.6rem;
}
.admin a:hover,
.admin button:hover{
    color:#fff;
    background-color: #5a5858;
}
/**
 * Admin Login Page
 */
.admin-login main {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    text-align: center;
}
.admin-login main form {
    color:#7D7D77;
    background-color: #FFF;
    border-radius: 9px;
    min-width: 22rem;
    min-height: 33vh;
}
.admin-login main form::before {
    content: "";
    display: block;
    height: 74px;
    width: 74px;
    margin: -36px auto 0 auto;
    background: url(../images/icons/account.png) left top no-repeat;
}
.admin-login main form input {
    background-color: #F2F2F2;
    padding: 0.8rem 0.7rem 0.8rem 0.7rem;
    border-radius: 5px;
    border: none;
    min-width: 17rem;
}
.admin-login main form input[type="submit"]{
    color: #FFFFFF;
    cursor: pointer;
    background-color: #3D7FBE;
}
/**
 * Admin Dsahboard Page
 */
.admin-dsahboard main {
    display: flex;
    max-width: 100%;
}
.admin-dsahboard main section article p{
    color: #fff;
    line-height: 1.7rem;
    padding: 0.3rem;
    font-size: 0.8rem;
    background-color: #7b7b7b;
}
.admin-dsahboard main section article p a{
    color: #FFF;
    float: right;
    margin: 0 0 0 2rem;
    display: inline-block;
}
/**
 * Admin Film Page
 */
.admin-film main section:first-child article header{
    display:flex;
    background-color: #7b7b7b;
}
.admin-film main section:first-child article header a{
    font-size:0.9rem;
    line-height: 2.1rem;
    padding: 0.25rem 0.6rem 0.3rem 0.6rem;
}
.admin-film main section:first-child article header a,
.admin-film main section:first-child article header h1 {
    color: #FFF;
}
.admin-film main section:first-child article header p{
    margin:0;
    flex:3;
    padding: 0.2rem;
}
.admin-film main section:first-child article header h1{
    flex:7;
    line-height: 1.7rem;
    padding: 0 0 0 0.4rem;
}
.admin-film main section:first-child table{
    width:100%;
}
.admin-film main section:first-child table thead tr{
    background-color: #bfbfbf;
}
.admin-film main section:first-child table tbody tr{
    border-bottom:2px solid red;
}
.admin-film main section:first-child table tbody tr:nth-child(even)
{
    background-color: #bfbfbf;
}
.admin-film main section:first-child table tbody tr td{
    text-align:center;
}
.admin-film main section:first-child table tbody tr td:nth-child(2) {
    padding-top:0.4rem;
}
.admin-film main section:first-child table tbody tr td a{
    color: #000;
}
.admin-film main section:first-child table tbody tr td a:hover{
    background:none;
}